#footer= 'Hosted by'
  a(rel='nofollow', style="font-weight: bold", href='https://pages.coding.me')  Coding Pages.
  |  Powered by
  a(rel='nofollow', style="font-weight: bold", target='_blank', href='https://hexo.io')  Hexo.
  |  Theme -
  a(rel='nofollow', style="font-weight: bold", target='_blank', href='https://github.com/tufu9441/maupassant-hexo')  Maupassant
